.modal-content {
    background: white;
}
.modal-content .title,
.modal-content label {
    color: #333;
}
.modal-content .select ,
.modal-content select {
    width: 100%;
}
.modal-content .container {
    padding: 3vmin;
}