<article class="user-card">
    <img ref="image" />
    <div class="title">
        <h1 ref="title"></h1>
        <div class="info" show="showInfo">
            <p><strong>EMAIL:</strong> <slot name="email" /></p>
            <p><strong>PHONE:</strong> <slot name="phone" /></p>
        </div>
        <button 
            ref="toggle"
            click="toggleInfo"
        >
            <span hide="showInfo">Show info</span>
            <span show="showInfo">Hide info</span>
        </button>
    </div>
</article>